#reveal{
	margin-left:26px;
}

#circleHolder{
	width:270px;
	height:270px;
	margin:25px 0px 0 0px;
	float:left;
	position:relative;
}


.btn{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzclIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 23%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 77%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(23%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.1)), color-stop(77%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 23%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0) 77%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 23%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0) 77%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 23%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0) 77%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 23%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0) 77%,rgba(0,0,0,0) 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */

	float:left;
	color:#FFF;
	width:80px;
	height:50px;
	background-color:#004a68;
	cursor:pointer;
	behavior: url(js/PIE.htc);
}
.btn p{
	font: 14px/14px Arial, Helvetica, sans-serif;
	padding:5px 15px 10px 15px;
}
.btn4{
	position:absolute;
	top:20px;
	left:20px;
}

.btn5{
	position:absolute;
	top:20px;
	left:20px;
}

.btn6{
	position:absolute;
	top:20px;
	left:20px;
}

.btn1{
	position:absolute;
	top:20px;
	right:20px;
}
.btn3{
	position:absolute;
	bottom:20px;
	left:20px;
}
.btn2{
	position:absolute;
	bottom:20px;
	right:20px;
}

#textBox {
	margin-top: 20px;
	float:right;
	width: 260px;
	height: 270px;
	border:0;
	padding-left: 10px;
}

#Main_Header
{
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background-image: url('imgs/Header.png');
    background-size: 100% 100%;
    height: 100px;
}

#Top_Header_Text
{
    position: relative;
    left: 100px;
    top: 10px;
    color: White;
}

#Bottom_Header_Text
{
    font-style: italic;
    font-size: large;
    color: White;
    position: relative;
    left: 100px;
}

#Content_Wrapper
{
    /*background-color: Green;*/
}

/*.node
{
    position: relative;
    width: 117px;
    height: 64px;
    margin-left: 200px;
    margin-top: 400px;
    background-image: url('imgs/Node.png');
}*/

#Process_Circle_Container { 
	min-height: 300px;
	border:1px solid black;
	width: 300px;
	float:left;

}
#content_bg {
	min-height: 300px;
}

.node
{
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.23) 42%, rgba(0,0,0,0.21) 54%, rgba(55,55,55,0.2) 64%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(42%,rgba(0,0,0,0.23)), color-stop(54%,rgba(0,0,0,0.21)), color-stop(64%,rgba(55,55,55,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.23) 42%,rgba(0,0,0,0.21) 54%,rgba(55,55,55,0.2) 64%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.23) 42%,rgba(0,0,0,0.21) 54%,rgba(55,55,55,0.2) 64%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.23) 42%,rgba(0,0,0,0.21) 54%,rgba(55,55,55,0.2) 64%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.23) 42%,rgba(0,0,0,0.21) 54%,rgba(55,55,55,0.2) 64%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	
//-moz-border-radius:20px;
//    border-radius: 20px;
	
	background-color: #0C6;
    width: 117px;
    height: 64px;
    cursor: pointer;
    position: absolute;
  //background-image: url('imgs/Node.png');
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
    color: White;
	
}

.nodeSelect
{
    width: 117px;
    height: 64px;
    cursor: pointer;
    position: absolute;
    background-image: url('imgs/NodeSelected.png');
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
    color: White;
}

.nodeDescription
{
   // -moz-background-clip: border; /* Firefox 3.6 */
   // -webkit-background-clip: border; /* Safari 4? Chrome 6? */
   // background-clip: border-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
    float: right;
    background-color: #77c;
    width: 200px;
    height: 100px;
    top: 200px;
    left: 400px;
    position: absolute;
   // font-size: 0px;
	border:1px solid black;
}

.tab_content { display:none; }

/* ///////////////////////////////////////////////////////////////////////////// */


#tabs
{
	display: block;
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 0px;
    font: 0.75em arial;
	height: 30px; 
}

#tabs li
{
    display: inline;
}

#tabs li a
{

	display: block;
	height: 25px;
	margin-right: 2px;
	float:left;
    padding: 10px; 7px; 0px 7px;
	text-align:center;
    text-decoration: none;
    background-color: #006892;
	color: white;
    border-bottom: none;
    outline: none;
	font-weight: bold;
    /*border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
	*/
    /*background-image: url('imgs/Tab.png');
    background-size: 100% 100%;*/
}

#tabs li a:hover
{
    background-color: #004a61;
}

#tabs li.active a
{
    background-color: #40c3c3;
}



#tabs_content_container
{
    padding: 20px 30px;
	background-color: #FFFFFF;
	min-height: 200px;
}

.tabs_container
{
    display: none;
}

