#reveal{
	margin-left:26px;
}

#circleHolder{
	width:270px;
	height:270px;
	margin:25px 0px 0 0px;
	float:left;
	position:relative;
}


.btn{
background: -moz-linear-gradient(top,  rgba(0,0,0,0.41) 0%, rgba(0,0,0,0.4) 1%, rgba(0,0,0,0) 49%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.09) 51%, rgba(0,0,0,0.18) 53%, rgba(0,0,0,0.13) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.41)), color-stop(1%,rgba(0,0,0,0.4)), color-stop(49%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.05)), color-stop(51%,rgba(0,0,0,0.09)), color-stop(53%,rgba(0,0,0,0.18)), color-stop(100%,rgba(0,0,0,0.13))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.41) 0%,rgba(0,0,0,0.4) 1%,rgba(0,0,0,0) 49%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.09) 51%,rgba(0,0,0,0.18) 53%,rgba(0,0,0,0.13) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.41) 0%,rgba(0,0,0,0.4) 1%,rgba(0,0,0,0) 49%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.09) 51%,rgba(0,0,0,0.18) 53%,rgba(0,0,0,0.13) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.41) 0%,rgba(0,0,0,0.4) 1%,rgba(0,0,0,0) 49%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.09) 51%,rgba(0,0,0,0.18) 53%,rgba(0,0,0,0.13) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,0,0,0.41) 0%,rgba(0,0,0,0.4) 1%,rgba(0,0,0,0) 49%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.09) 51%,rgba(0,0,0,0.18) 53%,rgba(0,0,0,0.13) 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69000000', endColorstr='#21000000',GradientType=0 ); /* IE6-9 */

	float:left;
	color:#FFF;
	width:80px;
	height:50px;
	background-color:#004a68;
	cursor:pointer;
	behavior: url(js/PIE.htc);
}
.btn p{
	font: 14px/14px Arial, Helvetica, sans-serif;
	padding:5px 15px 10px 15px;
}
.btn4{
	position:absolute;
	top:20px;
	left:20px;
}

.btn5{
	position:absolute;
	top:20px;
	left:20px;
}

.btn6{
	position:absolute;
	top:20px;
	left:20px;
}

.btn1{
	position:absolute;
	top:20px;
	right:20px;
}
.btn3{
	position:absolute;
	bottom:20px;
	left:20px;
}
.btn2{
	position:absolute;
	bottom:20px;
	right:20px;
}

#textBox {
	margin-top: 20px;
	float:right;
	width: 260px;
	height: 270px;
	border:0;
	padding-left: 10px;
}

#Main_Header
{
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background-image: url('imgs/Header.png');
    background-size: 100% 100%;
    height: 100px;
}

#Top_Header_Text
{
    position: relative;
    left: 100px;
    top: 10px;
    color: White;
}

#Bottom_Header_Text
{
    font-style: italic;
    font-size: large;
    color: White;
    position: relative;
    left: 100px;
}

#Content_Wrapper
{
    /*background-color: Green;*/
}

/*.node
{
    position: relative;
    width: 117px;
    height: 64px;
    margin-left: 200px;
    margin-top: 400px;
    background-image: url('imgs/Node.png');
}*/

#Process_Circle_Container { 
	min-height: 300px;
	border:1px solid black;
	width: 300px;
	float:left;

}
#content_bg {
	min-height: 300px;
}

.node
{
	background: -moz-linear-gradient(top,  rgba(181,181,181,0.39) 0%, rgba(181,181,181,0.39) 1%, rgba(160,160,160,0.37) 48%, rgba(132,132,132,0.37) 54%, rgba(95,95,95,0.35) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,181,181,0.39)), color-stop(1%,rgba(181,181,181,0.39)), color-stop(48%,rgba(160,160,160,0.37)), color-stop(54%,rgba(132,132,132,0.37)), color-stop(100%,rgba(95,95,95,0.35))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(181,181,181,0.39) 0%,rgba(181,181,181,0.39) 1%,rgba(160,160,160,0.37) 48%,rgba(132,132,132,0.37) 54%,rgba(95,95,95,0.35) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(181,181,181,0.39) 0%,rgba(181,181,181,0.39) 1%,rgba(160,160,160,0.37) 48%,rgba(132,132,132,0.37) 54%,rgba(95,95,95,0.35) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(181,181,181,0.39) 0%,rgba(181,181,181,0.39) 1%,rgba(160,160,160,0.37) 48%,rgba(132,132,132,0.37) 54%,rgba(95,95,95,0.35) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(181,181,181,0.39) 0%,rgba(181,181,181,0.39) 1%,rgba(160,160,160,0.37) 48%,rgba(132,132,132,0.37) 54%,rgba(95,95,95,0.35) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b5b5b5', endColorstr='#595f5f5f',GradientType=0 ); /* IE6-9 */

	
//-moz-border-radius:20px;
//    border-radius: 20px;
	
	background-color: #0C6;
    width: 117px;
    height: 64px;
    cursor: pointer;
    position: absolute;
  //background-image: url('imgs/Node.png');
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
    color: White;
	
}

.nodeSelect
{
    width: 117px;
    height: 64px;
    cursor: pointer;
    position: absolute;
    background-image: url('imgs/NodeSelected.png');
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
    color: White;
}

.nodeDescription
{
   // -moz-background-clip: border; /* Firefox 3.6 */
   // -webkit-background-clip: border; /* Safari 4? Chrome 6? */
   // background-clip: border-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
    float: right;
    background-color: #77c;
    width: 200px;
    height: 100px;
    top: 200px;
    left: 400px;
    position: absolute;
   // font-size: 0px;
	border:1px solid black;
}

.tab_content { display:none; }

/* ///////////////////////////////////////////////////////////////////////////// */


#tabs
{
	display: block;
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 0px;
    font: 0.75em arial;
	height: 30px; 
}

#tabs li
{
    display: inline;
}

#tabs li a
{

	display: block;
	height: 25px;
	margin-right: 2px;
	float:left;
    padding: 10px; 7px; 0px 7px;
	text-align:center;
    text-decoration: none;
    background-color: #006892;
	color: white;
    border-bottom: none;
    outline: none;
	font-weight: bold;
    /*border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
	*/
    /*background-image: url('imgs/Tab.png');
    background-size: 100% 100%;*/
}

#tabs li a:hover
{
    background-color: #004a61;
}

#tabs li.active a
{
    background-color: #40c3c3;
}



#tabs_content_container
{
    padding: 20px 30px;
	background-color: #FFFFFF;
	min-height: 200px;
}

.tabs_container
{
    display: none;
}

